@model IQueryable<Product>

<h4> Welcome to SportsStore </h4>

<hr />

@foreach (Product p in Model)
{
    <h3><a asp-controller="Home" asp-action="Details" asp-route-id="@p.ProductId"> @p.Name </a></h3>
    <h4> @p.Price.ToString("c") </h4>
    //<a href="/Home/Details/?id=@p.ProductId"> Details </a>
    <hr />
}